:root{
    --text--font: "Zalando Sans", sans-serif;
    --description-font: "Public Sans", sans-serif;
    --backgroud-green:#d0e7c1;
    --background-brown:#f3e1d2;
}
body{
max-width: 800px;
}

header{
    background-color: var(--backgroud-green);
}
.navigation{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;
}
.navigation #logo{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    width: clamp(60px, 10vw, 200px);
}
.navigation h2{
    justify-self: flex-start;
    font-family: var(--text--font);
    font-weight: 600;
    font-size: 1rem;
}
img{
    justify-self: center;
}
section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
}
.products section:nth-child(2){
        justify-self: end;
    }
.products section:nth-of-type(3){
        justify-self: start;
    }
footer{
    background-color: var(--backgroud-green);
    font-family: var(--text--font);
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
}
.year{
    grid-column:2/3;
    grid-row: 1;
    text-align: center;
    margin-bottom: 0%;
    
}
.lastmodified{
    grid-column: 2/3;
    grid-row:2;
    text-align: center;
    margin-top: 1%;
}