:root{
    --text--font: "Zalando Sans", sans-serif;
    --description-font: "Public Sans", sans-serif;
    --backgroud-green:#d0e7c1;
    --background-brown:#f3e1d2;
}
.container{
    max-width: 1500px;
}
.navigation{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 1;
    background-color: var(--backgroud-green);
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}
h2{
    grid-column: 2/3;
    padding-left: 10%;
    font-family: var(--text--font);
    font-weight: 600;
    font-size: 3rem;

}


.navigation #logo{
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: left;
    margin-left: 3%;
}
.products{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: 5%;
}
section{
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
   
}
h3{
    font-family: var(--text--font);
    font-size: 1rem;
    grid-row: 1;
    grid-column: 1/3;
    max-width: 220px;   /* or whatever fits your layout */
  margin: 0 auto;
  text-align: center;
}
p{
    justify-self: center;

}
img{
    grid-row: 3;
    grid-column: 1/3;
}
@media screen and (min-width:50em){
    .products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 2;
        justify-content: center;
    }
    section:nth-child(2){
        justify-self: end;
    }
    section:nth-child(3){
        justify-self: start;
    }
}