
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    max-width: 800px;  /* page won’t exceed 800px */
    margin: 0 auto;  
}
h2{
    font-weight: 200;
}
#course-title{
    width: auto;
    background-color: blanchedalmond;
    color:black;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
nav ul{
    display: flex;
    background-color: lightpink;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-evenly;
}
.content {
  display: flex;            /* put children side by side */
  gap: 20px;                /* space between frames */
  justify-content: center;  /* center them on the page */
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;   /* frame look */
  padding: 20px;
  border-radius: 8px;
  flex: 1;                  /* both take equal width */
  background: #f9f9f9;
}
img{
  width: 50px;
  height: auto;
}

.card.about{
  display: grid;
}

